<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=1024, initial-scale=1.0, maximum-scale=1.0" >
	<title>帳票作成・一覧</title>

	<!-- Loading Bootstrap -->
	<link href="../../../bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="../../../bootstrap/css/prettify.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="../../../../css/jquery-ui-1.10.3.custom.css" />
	<script type="text/javascript" src="../../../../js/jquery.js"></script>
	<script type="text/javascript" src="../../../../js/jquery-ui.custom.js"></script>
	<script type="text/javascript" src="../../../../js/jquery.csv.js"></script>

	<link media="screen" rel="stylesheet" type="text/css" href="../../../css/style.css">
	<script src="../../../js/function.js"></script>

	<script src="../../../js/jquery.ui.touch-punch.min.js"></script>
	<script src="../../../js/bootstrap.min.js"></script>
	<script src="../../../js/bootstrap-select.js"></script>
	<script src="../../../js/bootstrap-switch.js"></script>
	<script src="../../../js/flatui-checkbox.js"></script>
	<script src="../../../js/flatui-radio.js"></script>
	<script src="../../../js/jquery.tagsinput.js"></script>
	<script src="../../../js/jquery.placeholder.js"></script>
	<script src="../../../bootstrap/js/google-code-prettify/prettify.js"></script>
	<script src="../../../js/application.js"></script>
	<script src="../../../js/jquery.skOuterClick.js"></script>
	<script src="../../../js/jquery.tablesorter.js"></script>
	<script src="../../../js/tsort.js"></script>
	<script src="../../../../js/jquery.contextmenu.js"></script>

	<script src="../../../../js/jquery.ui.datepicker.js"></script>
	<script src="../../../../js/jquery.ui.datepicker-ja.min.js"></script>
	<script type="text/javascript"
			src="../../../../js/jquery.tablefix_1.0.0.js"></script>
	<script type="text/javascript" src="../../../../js/jquery.dragtable.js"></script>
	<script type="text/javascript" src="../../../../js/jquery.blockUI.js"></script>

	<script type="text/javascript" src="../../../../js/underscore.js"></script>
	<script type="text/javascript" src="../../../../js/backbone.js"></script>
	<script type="text/javascript" src="../../../../js/json2.js"></script>
	<script type="text/javascript" src="../../../../js/jquery.tmpl.min.js"></script>
	<script type="text/javascript"
		src="../../../../js/jquery.exchangeselect.0.1.0.js"></script>
	<script type="text/javascript" src="../../../../js/backbone.syphon.js"></script>
	<script type="text/javascript" src="../../../../js/backbone.syphon.fix.js"></script>
	<script src="../../../js/clcom.js"></script>

	<link rel="stylesheet" href="../../../css/themes/blue/style.css" type="text/css">
	<link rel="stylesheet" href="../../../css/tsort/style.css" type="text/css">


<script>
</script>


</head>

<body class="cl_body_hidden">
<div id="ca_main">

<script src="AMGAV2000.js"></script>

<div id="container">

	<div id="mainColumn">
	<div id="mainColumninBox" class="noLeftColumn">

		<div id="content">

			<div class="fieldgroup">
				<div id="ca_srchArea" class="fieldgroupInBox search">
					<div class="fieldUnit mrgb10 half mrgr20">
						<p class="fieldName">帳票名</p>
						<div class="fieldBox">
							<input type="text" placeholder="" class="form-control wt280 cl_valid" name="name" id="ca_name" />
						</div>
						<div class="clear"></div>
					</div>
					<div class="fieldUnit mrgb10">
						<p class="fieldName">実行期間</p>
						<div class="fieldBox">
							<div class="datepicker_wrap"><input class="cl_date cl_valid ime-disabled" type="text" name="from" id="ca_from" /></div>
							<p class="txtInFieldUnit pdg flleft">〜</p>
							<div class="datepicker_wrap"><input class="cl_date cl_valid ime-disabled" type="text" name="to" id="ca_to" /></div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="fieldUnit mrgb10 half mrgr20 flleft">
						<p class="fieldName">メール配信設定</p>
						<div class="fieldBox">
							<select class="mbn wt280 cl_valid" name="f_mail" id="ca_f_mail"></select>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
					<div class="fieldUnit mrgb10 half mrgr20">
						<p class="fieldName">作成者</p>
						<div class="fieldBox">
							<input type="text" placeholder="" class="form-control wt280 cl_valid" name="creUserName" id="ca_creUserName" />
						</div>
						<div class="clear"></div>
					</div>
					<div class="fieldUnit mrgb10 half mrgr20">
						<p class="fieldName">メモ</p>
						<div class="fieldBox">
							<input type="text" placeholder="" class="form-control wt280 cl_valid" name="memo" id="ca_memo" />
						</div>
						<div class="clear"></div>
					</div>
					<div class="fieldUnit flleft mrgb10">
						<div class="fieldBox flleft">
							<div class="flleft ">
								<label class="checkbox flleft mrgr30"><input type="checkbox" id="ca_f_scheduled" data-toggle="checkbox"/>スケジュール登録済のみ表示</label>
							</div>
						</div>
					</div>
					<div class="clear"></div>


					<div class="fieldUnit">
						<div class="fieldBox mrgt20 noName btnCenter">
							<button class="btn btn-info wt280" id="ca_srch">検索</button>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<button id="searchAgain" class="dispn btn">検索条件を再指定</button>
			</div>
<!--
					<div class="clear"></div>
				</div>
			</div>
-->

		<div id="result" class="dispn">

		<!-- ページネーション＃１：div.pagination-wrapper だけ設置してください -->
		<div class="pagination-wrapper"></div>

		<div class="table" style="overflow: scroll; ">
			<table class="hilightRow" id="ca_table" style="min-width: 760px;">
			<thead>
				<tr>
					<!-- １番目の要素は全選択チェックボックス用に予約 -->
					<th class="cl_checkbox_selectall" style='min-width:40px;max-width:40px'>?全選択</th>
					<!-- thのcheckboxで表組内のすべてのチェックをオン／オフ -->
					<th style='min-width:180px;max-width:180px'>帳票名</th>
					<th style='min-width:180px;max-width:180px'>実行期間</th>
					<th style='min-width:180px;max-width:180px'>実行日</th>
					<th style='min-width:120px;max-width:120px'>実行時刻</th>
					<th style='min-width:120px;max-width:120px'>メール配信設定</th>
					<th style='min-width:180px;max-width:180px'>作成者</th>
					<th style='min-width:500px;max-width:500px'>メモ</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
			</table>

			<!-- 行テンプレート: underscore.js テンプレートを使用 -->
			<script id="ca_rec_template" type="text/template">
				<!--tr-->
 				<tr class="csptr">
					<td class="cl_checkbox_selectrec" style='min-width:40px;max-width:40px'>?行選択</td>
					<td class="ca_c_link" style='min-width:180px;max-width:180px'><%- name %></td>
					<td class="ca_c_link" style='min-width:180px;max-width:180px'><%- period %></td>
					<td class="ca_c_link" style='min-width:180px;max-width:180px'><%- schedule %></td>
					<td class="ca_c_link" style='min-width:120px;max-width:120px'><%- scheduleTime %></td>
					<td class="ca_c_link" style='min-width:120px;max-width:120px'><%- f_mail_name %></td>
					<td class="ca_c_link" style='min-width:180px;max-width:180px'><%- creUserName %></td>
					<td class="ca_c_link" style='min-width:500px;max-width:500px'><%- memo %></td>
				</tr>
			</script>
		</div>
		<div class="mrgb20"></div>

		<!-- ページネーション＃１：div.pagination-wrapper だけ設置してください -->
		<div class="pagination-wrapper"></div>

		<div class="fieldUnit">
			<!--div class="fieldBox mrgt30 mrgb30 noName"-->
			<div class="fieldBox mrgt30 mrgb30 noName cl_opebtngroup" data-cl_groupid="AMGAV2000">
				<button class="btn btn-primary wt280 flleft mrgr10" id="cl_edit">編集</button>
				<button class="btn btn-primary wt280 flleft mrgr10" id="cl_copy">複製</button>
				<button class="btn btn-default wt140 flright mrgl20 delete" id="cl_delete">削除</button>
			</div>
			<div class="clear"></div>
		</div>

		</div>

		</div>
		<!-- /#content -->
		<!-- /#mainColumnFooter -->

	</div>
	<!-- /#mainColumninBox -->

	</div>
	<!-- /#mainColumn -->

</div><!-- / #container -->

<div class="clear"></div>


</div>
</body>
</html>
