<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=1024, initial-scale=1.0, maximum-scale=1.0" />
    <title>法人販売管理</title>
    <link href="../../../bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../../../bootstrap/css/prettify.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../../../css/jquery-ui-1.10.3.custom.css" />
    <script type="text/javascript" src="../../../../js/jquery.js"></script>
    <script type="text/javascript" src="../../../../js/jquery-ui.custom.js"></script>
    <script type="text/javascript" src="../../../../js/jquery.csv.js"></script>
    <link media="screen" rel="stylesheet" type="text/css" href="../../../css/style.css" />
    <script src="../../../js/function.js"></script>
    <script src="../../../js/jquery.ui.touch-punch.min.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
    <script src="../../../js/bootstrap-select.js"></script>
    <script src="../../../js/bootstrap-switch.js"></script>
    <script src="../../../js/flatui-checkbox.js"></script>
    <script src="../../../js/flatui-radio.js"></script>
    <script src="../../../js/jquery.tagsinput.js"></script>
    <script src="../../../js/jquery.placeholder.js"></script>
    <script src="../../../bootstrap/js/google-code-prettify/prettify.js"></script>
    <script src="../../../js/application.js"></script>
    <script src="../../../js/jquery.skOuterClick.js"></script>
    <script src="../../../js/jquery.tablesorter.js"></script>
    <script src="../../../js/tsort.js"></script>
    <script src="../../../js/perfect-scrollbar.with-mousewheel.min.js"></script>
    <script src="../../../../js/jquery.contextmenu.js"></script>
    <script src="../../../../js/jquery.ui.datepicker.js"></script>
    <script src="../../../../js/jquery.ui.datepicker-ja.min.js"></script>
    <script type="text/javascript" src="../../../../js/jquery.tablefix_1.0.0.js"></script>
    <script type="text/javascript" src="../../../../js/jquery.dragtable.js"></script>
    <script type="text/javascript" src="../../../../js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="../../../../js/jquery.form.js"></script>
    <script type="text/javascript" src="../../../../js/underscore.js"></script>
    <script type="text/javascript" src="../../../../js/backbone.js"></script>
    <script type="text/javascript" src="../../../../js/json2.js"></script>
    <script type="text/javascript" src="../../../../js/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="../../../../js/jquery.exchangeselect.0.1.0.js"></script>
    <script type="text/javascript" src="../../../../js/backbone.syphon.js"></script>
    <script type="text/javascript" src="../../../../js/backbone.syphon.fix.js"></script>
    <script src="../../../js/clcom.js"></script>
    <link rel="stylesheet" href="../../../css/themes/blue/style.css" type="text/css" />
    <link rel="stylesheet" href="../../../css/tsort/style.css" type="text/css" />
    <script src="../lib/bb.js"></script>
    <script src="../lib/bbcust/bbcust.js"></script>
    <script src="../lib/bbcustbill/bbcustbill.js"></script>
    <script src="AMBBV3160.js"></script>
  </head>
  <body class="cl_body_hidden">
    <div id="ca_main">
      <div id="container">
        <div id="mainColumn">
          <div id="mainColumninBox" class="noLeftColumn">
            <div id="content">
              <div class="fieldgroup">
                <div id="cond" class="fieldgroupInBox search">
                  <div class="fieldUnit flleft">
                    <p class="fieldName">法人</p>
                    <div class="fieldBox" id="bbcust"></div>
                  </div>
                  <div class="clear"></div>
                  <div class="fieldUnit flleft">
                    <p class="fieldName">請求先</p>
                    <div class="fieldBox" id="bbcustbill"></div>
                  </div>
                  <div class="clear"></div>
                  <div class="fieldUnit flleft">
                    <p class="fieldName">請求先企業名</p>
                    <div class="fieldBox">
                      <input type="text" id="" class="form-control cl_valid wt280" />
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="fieldUnit flleft required">
                    <p class="fieldName">売上年月</p>
                    <div class="fieldBox">
                      <div class="flleft">
                        <select id="売上年from" class="cl_valid wt140"></select>
                        <select id="売上月from" class="cl_valid wt140"></select>
                      </div>
                      <p class="txtInFieldUnit pdg flleft">〜</p>
                      <div class="flleft">
                        <select id="売上年to" class="cl_valid wt140"></select>
                        <select id="売上月to" class="cl_valid wt140"></select>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="fieldUnit mrgt10">
                    <div class="fieldBox noName">
                      <div class="col-md-5" style="text-align: right">
                        <button id="search" class="btn btn-info wt280">検索</button>
                      </div>
                      <div class="col-md-2"></div>
                      <div class="col-md-5" style="text-align: left">
                        <button id="excel" class="btn btn-info wt280">Excel出力</button>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
                <button id="searchAgain" class="btn dispn">検索条件を再指定</button>
              </div>
              <div id="result" class="fieldgroup dispn">
                <div class="pagination-wrapper"></div>
                <div class="table" style="overflow: scroll">
                  <table id="table" class="hilightRow">
                    <thead>
                      <tr>
                        <th>売上日</th>
                        <th>法人コード</th>
                        <th>法人名</th>
                        <th>請求先コード</th>
                        <th>請求先名</th>
                        <th>請求番号</th>
                        <th>請求年月</th>
                        <th>売上金額(税抜)</th>
                        <th>消費税</th>
                        <th>売上金額(税込)</th>
                        <th>粗利</th>
                        <th>振込先口座</th>
                        <th>担当者</th>
                      </tr>
                    </thead>
                    <tbody></tbody>
                    <script type="text/template">
                      <tr class="csptr">
                        <td></td>
                        <td><%= bbcustCode %></td>
                        <td><%= bbcustName %></td>
                        <td><%= bbcustbillCode %></td>
                        <td><%= bbcustbillName %></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </script>
                  </table>
                </div>
                <div class="pagination-wrapper"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
