@CHARSET "UTF-8";
#container{
    min-width : 1366px;
}

#content{
	padding-bottom: 20px;
}

.table input {
  font-size: 100%;
  font: inherit;
  min-width: 60px;
}

.periodComment {
  color: #667180;
  font-size: 88%;
  padding-top: 12px;
  line-height: 1.3;
}

.cellColorComment {
  color: #667180;
  font-size: 88%;
  padding-top: 11px;
  line-height: 1.3;
}

.filterComment {
  color: #667180;
  font-size: 84%;
  padding-top: 14px;
  line-height: 1.2;
  /*font-weight: bold;*/
}

#ca_tp_cellColor+.tooltip .tooltip-inner {
	text-align: left;
	max-width: none;
	width: 320px;
	/*font-size: 92%;*/
}

/*#ca_table_select1 {
    height : 26px;
}

#ca_table_select2 {
    height : 26px;
}*/
.boxLink {
    cursor:pointer;
    font-size: 82%;
    padding:20px 0px 0px 0px;
}

#div_table {
	height: 520px;
}

.grid-canvas div.input {
    padding: 0px;
}

.slick-cell .noedit,
.slick-cell .cell {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    overflow: hidden;
}

.slick-cell .noedit table td {
    font-size: 12px;
    padding: 8px 12px;
}

.slick-cell .grd-tbl {
    display: table;
    width: 100%;
    height: 100%;
}

.slick-cell .grd-tbl .grd-row {
    display: table-row;
}

.slick-cell.input.active.editable {
    padding: 0;
    border-left: 1px solid #E4E6EB;
    border-top: 1px solid #E4E6EB;

}

.slick-cell .grd-tbl .grd-cell {
    width : 50%;
    display: table-cell;
    vertical-align: middle;
    padding: 8px 12px;
}

.slick-cell .grd-tbl .grd-cell.editable {
    padding: 0;
}

.slick-cell .grd-tbl .grd-cell.half {
    width: 50%;
}

.slick-cell .grd-tbl .grd-cell:not(:first-child) {
    border-left: 1px solid #E4E6EB;
}

.slick-cell .grd-cell {
    padding: 8px 12px;
}

.slick-cell .grd-cell .distQy input[type=text]{
    font-size: 14px;
}

.cl_datagrid .slick-cell.input {
    background: transparent;
}

.cl_datagrid .slick-cell.input .distQy .form-control {
    background: url("/system/images/bg_tdinput.png");
}

.cl_datagrid .slick-cell .pdg0 {
    padding: 0;
}

.cl_datagrid .slick-cell .sales {
    border-bottom: 1px solid #FFF;
    padding: 5px 5px;
    height: 27px;
}

.cl_datagrid .slick-cell .stock {
    padding: 5px 5px;
    height: 27px;
}

.slick-row {
    font-family: Lato, メイリオ, 'ＭＳ Ｐゴシック', sans-serif;
    font-size: 12px;
    color: #212226;
}

.slick-cell .reference {
    background: rgba(15, 184, 170, 0.1);
    color: #A2A9B3;
}

.slick-row.reference {
    background: rgba(15, 184, 170, 0.1);
    color: #A2A9B3;
}

.cl_datagrid .grid-canvas-top .slick-cell {
    border-left: 0;
}
.cl_datagrid .grid-canvas-top .slick-cell.l0,
.cl_datagrid .grid-canvas-top .slick-cell.l1,
.cl_datagrid .grid-canvas-top .slick-cell.l2,
.cl_datagrid .grid-canvas-top .slick-cell.l3 {
    border-left: 1px solid #E4E6EB;
}

.viewAll {
    margin-top: 0;
}

.deleteRow:hover div:after {
    width: 12px;
    height: 12px;
    background: url("/system/images/icn_delete_active.svg") no-repeat right top;
    background: url("/system/images/icn_delete_active.png") no-repeat right top\9;
    content: "";
    display: block;
    position: absolute;
    right: 8px;
    top: 11px;
}

.cl_datagrid .slick-cell.input.cl_error_field {
	border-width: 0;
}
.cl_datagrid .slick-cell.input.cl_error_field .distQy{
	border: 2px solid #F2555F;
}

.cl_datagrid .slick-cell  .sfv  .btn-group.bootstrap-select,
.cl_datagrid .slick-cell  .sfv  .clgrspfe .btn-group.bootstrap-select,
.cl_datagrid .slick-cell  .sfv  .btn.selectpicker,
.cl_datagrid .slick-cell  .sfv .clgrspfe .btn.selectpicker {
    height: 30px;
}

.mrgbshort {
  margin-bottom: 7px;
}
.mrgl14 {
	margin-left:14px;
}
.mrgr40{
    margin-right:40px;
}
.mrgr60{
    margin-right:60px;
}
.mrgr88{
    margin-right:88px;
}
.mrgrlong{
    margin-right:143px;
}
.fbwtlong{
    width: 310px;
}

.cl_datagrid .slick-cell.input .clgrspfe > .selectpicker.btn{
    height:30px;
}

/* 行：合計行などのUI */
.cl_datagrid .slick-row.warn-store {
  background-color: #feeed6;
}

.cl_datagrid .slick-row.warn-store > div:first-child {
  color: #fcae3f;
}

.select.wt100 .btn {
  width: 100px;
}
