@CHARSET "UTF-8";

#innerScroll_ {
    position: relative;
    overflow:hidden;
    height:640px;
}

#myGrid .reference {
	background: #E6F7F6;
}

#myGrid .align-left {
	text-align: left;
}

#myGrid .align-right {
	text-align: right;
}


#myGrid .bdrTpColor {
	border-top-color: #a2a9b3;
}

#myGrid .lgFnt {
  font-size: 125%;
}


#myGrid .darken {
  background: #868f9c;
}

#myGrid .darken {
  background: #868f9c;
}


