<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=1024, initial-scale=1.0, maximum-scale=1.0" >
	<title>入出荷・返品</title>

	<!-- Loading Bootstrap -->
	<link href="../../../bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="../../../bootstrap/css/prettify.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="../../../../css/jquery-ui-1.10.3.custom.css" />
	<script type="text/javascript" src="../../../../js/jquery.js"></script>
	<script type="text/javascript" src="../../../../js/jquery-ui.custom.js"></script>
	<script type="text/javascript" src="../../../../js/jquery.csv.js"></script>

	<link media="screen" rel="stylesheet" type="text/css" href="../../../css/style.css">
	<script src="../../../js/function.js"></script>

	<script src="../../../js/jquery.ui.touch-punch.min.js"></script>
	<script src="../../../js/bootstrap.min.js"></script>
	<script src="../../../js/bootstrap-select.js"></script>
	<script src="../../../js/bootstrap-switch.js"></script>
	<script src="../../../js/flatui-checkbox.js"></script>
	<script src="../../../js/flatui-radio.js"></script>
	<script src="../../../js/jquery.tagsinput.js"></script>
	<script src="../../../js/jquery.placeholder.js"></script>
	<script src="../../../bootstrap/js/google-code-prettify/prettify.js"></script>
	<script src="../../../js/application.js"></script>
	<script src="../../../js/jquery.skOuterClick.js"></script>
	<script src="../../../js/perfect-scrollbar.with-mousewheel.min.js"></script>
	<script src="../../../js/jquery.tablesorter.js"></script>
	<script src="../../../js/tsort.js"></script>
	<script src="../../../../js/jquery.contextmenu.js"></script>

	<script src="../../../../js/jquery.ui.datepicker.js"></script>
	<script src="../../../../js/jquery.ui.datepicker-ja.min.js"></script>
	<script type="text/javascript"
			src="../../../../js/jquery.tablefix_1.0.0.js"></script>
	<script type="text/javascript" src="../../../../js/jquery.dragtable.js"></script>
	<script type="text/javascript" src="../../../../js/jquery.blockUI.js"></script>

	<script type="text/javascript" src="../../../../js/underscore.js"></script>
	<script type="text/javascript" src="../../../../js/backbone.js"></script>
	<script type="text/javascript" src="../../../../js/json2.js"></script>
	<script type="text/javascript" src="../../../../js/jquery.tmpl.min.js"></script>
	<script type="text/javascript"
		src="../../../../js/jquery.exchangeselect.0.1.0.js"></script>
	<script type="text/javascript" src="../../../../js/backbone.syphon.js"></script>
	<script type="text/javascript" src="../../../../js/backbone.syphon.fix.js"></script>
	<script src="../../../js/clcom.js"></script>

	<link rel="stylesheet" href="../../../css/themes/blue/style.css" type="text/css">
	<link rel="stylesheet" href="../../../css/tsort/style.css" type="text/css">
	<script src="../../AMPA/AMPAV0010/AMPAV0010.js"></script>
	<script src="../../AMPA/AMPAV0020/AMPAV0020.js"></script>



<!-- 動作疑似再現用 -->
<script>
</script>


</head>

<body class="cl_body_hidden">
<div id="ca_main">

<script src="AMDLV0050.js"></script>

<!-- 共通ヘッダは MDBaseView によって置き換えるので、設置不要。
<div id="header">
	<p class="back"></p>
	<h1 class="contextmenu">入出荷・返品</h1>
	<div class="rightBox">
		<span class="logo"></span>
		<span class="logout"><a href="">ログアウト</a></span>
		<span class="user">Username</span>

	</div>
</div><!-- /#header -->

<div id="container">
	<!-- 店舗選択補助画面 -->
	<div id="ca_AMPAV0010_dialog1" class="cl_dialog"></div>
	<div id="ca_AMPAV0010_dialog" class="cl_dialog"></div>
	<div id="ca_AMPAV0020_dialog" class="cl_dialog"></div>

	<div id="mainColumn">
	<div id="mainColumninBox" class="noLeftColumn">
		<!-- タイトル部は MDBaseView によって置き換えるので、設置不要。
		<div id="title">
			<h2>SCM入荷データ<span class="divider">|</span>一覧</h2>
			<div class="titleInBoxRight">
				<p class="addNew"><a>新規登録</a></p>
			</div>
		</div>
		<!-- /#title -->


		<div id="content">


			<div class="fieldgroup">
				<div id="ca_srchArea" class="fieldgroupInBox search">
					<div class="fieldUnit mrgb10">
						<p class="fieldName">店舗</p>
						<div class="fieldBox" id="div_store">
							<input class="form-control wt280 flleft cl_valid cl_store" type="text" placeholder="" id="ca_srchStoreID" />
							<button class="btn btn-default wt140 flleft mrgl10 ca_btn_store" id="ca_btn_store_select" tabindex="-1">参照...</button>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
					<div class="fieldUnit mrgb10 half flleft mrgr10">
						<p class="fieldName">納品形態区分</p>
						<div class="fieldBox">
							<select name="srchDlvwapDispTypeID" class="mbn wt280 flleft cl_valid" id="ca_srchDlvwapDispTypeID">
							</select>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
					<!--div class="fieldUnit mrgb10 flleft">
						<p class="fieldName">出荷元</p>
					</div>
					<div class="clear"></div-->
					<div class="fieldUnit mrgb10 flleft">
						<p class="fieldName bl2">出荷元<br/>メーカー</p>
						<div class="fieldBox required">
							<input id="ca_srchVendorID" type="text" placeholder="" class="form-control flleft wt280 cl_valid" />
						</div>
						<div class="clear"></div>
					</div>
					<div class="fieldUnit mrgb10 flleft">
						<p class="fieldName bl2">出荷元<br/>倉庫</p>
						<div class="fieldBox ca_readOnly">
							<select class="wt280 flleft cl_valid" id="ca_srchOutOrgID" /></select>
							<!--button class="btn btn-default wt140 flleft mrgl10 ca_btn_store" id="ca_btn_store" tabindex="-1">参照...</button-->
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
					<div class="fieldUnit mrgb10 half flleft">
						<p class="fieldName">荷番</p>
						<div class="fieldBox">
							<input type="text" placeholder="" class="form-control wt280 cl_valid" data-validator="maxlen:6 digit" name="srchShipNo" id="ca_srchShipNo" />
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
					<div class="fieldUnit mrgb10 half flleft">
						<p class="fieldName">入荷状態区分</p>
						<div class="fieldBox">
							<select name="info" class="mbn wt280 cl_valid" id="ca_srchDlvStateID"></select>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
					<div class="fieldUnit mrgb10 half flleft">
						<p class="fieldName">担当者</p>
						<div class="fieldBox">
							<input type="text" placeholder="" class="form-control wt280 cl_valid" id="ca_srchStaffID" data-validator="maxlen:6,6 digit" />
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
					<div class="fieldUnit mrgb10 required">
						<p class="fieldName">検収日</p>
						<div class="fieldBox">
							<div class="datepicker_wrap"><input class="cl_date cl_valid ime-disabled" type="text" name="fromDate" id="ca_fromDate" /></div>
							<p class="txtInFieldUnit pdg flleft">〜</p>
							<div class="datepicker_wrap"><input class="cl_date cl_valid ime-disabled" type="text" name="toDate" id="ca_toDate" /></div>
						</div>
						<div class="clear"></div>
					</div>

					<div class="fieldUnit">
						<div class="fieldBox mrgt20 noName btnCenter">
							<button class="btn btn-info wt280" id="ca_srch">検索</button>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<button id="searchAgain" class="dispn btn">検索条件を再指定</button>
			</div>


		<div id="result" class="dispn">

			<!-- ページネーション＃１：div.pagination-wrapper だけ設置してください -->
			<div class="pagination-wrapper"></div>

			<div class="table">
				<table class="hilightRow" id="ca_table">
				<thead>
					<tr>
						<!-- １番目の要素は全選択チェックボックス用に予約 -->
						<th width="40px" class="cl_checkbox_selectall">?全選択</th>
						<!-- thのcheckboxで表組内のすべてのチェックをオン／オフ -->
						<th width="120px">店舗</th>
						<th width="120px">納品形態区分</th>
						<th width="120px">出荷元</th>
						<th width="120px">荷番</th>
						<th width="120px">入荷状態区分</th>
						<th width="120px">点数</th>
						<th width="120px">担当者</th>
						<th width="120px">入荷予定日</th>
						<th width="120px">検収日</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
				</table>
				<!-- 行テンプレート: underscore.js テンプレートを使用 -->
				<script id="ca_rec_template" type="text/template">
				<!--script id="ca_AMDLV0010_table_tbody_template" type="text/x-jquery-tmpl"-->
					<!--tr-->
 					<tr class="csptr">
						<td class="cl_checkbox_selectrec">?行選択</td>
						<td class="ca_c_link"><%- store.code %>:<%- store.name %></td>
						<td class="ca_c_link"><%- clutil.gettypename(amcm_type.AMCM_TYPE_DISP_DLV_ROUTE, dlvwapDispTypeID) %></td>
						<td class="ca_c_link"><%- senderName %></td>
						<td class="ca_c_link"><%- shipNo %></td>
						<td class="ca_c_link"><%- dlvStateName %></td>
						<td class="ca_c_link txtar"><%- clutil.comma(qy) %></td>
						<td class="ca_c_link"><%- staffName %></td>
						<td class="ca_c_link"><%- clutil.dateFormat(recSchedInspectDate, 'yyyy/mm/dd(w)') %></td>
						<td class="ca_c_link"><%- clutil.dateFormat(recInspectDate, 'yyyy/mm/dd(w)') %></td>
					</tr>
				</script>
			</div>

			<!-- ページネーション＃１：div.pagination-wrapper だけ設置してください -->
			<div class="pagination-wrapper"></div>

			<div class="fieldUnit">
				<div class="fieldBox mrgt30 mrgb30 noName cl_opebtngroup" data-cl_groupid="AMDLV0050">
				<button class="btn btn-primary wt280 flleft mrgr10" id="cl_edit">編集</button>
				<button class="btn btn-default wt140 flright mrgl20 delete" id="cl_delete">削除</button>
			</div>
			<div class="clear"></div>
		</div>

		</div>


		</div>
		<!-- /#content -->

		<!-- 下部ボタンパネル：中身は MDBaseView が構築します。空の div#mainVolumnFooter だけ設置してください。 -->
		<div id="mainColumnFooter" class="noLeftColumn">
<!--
			<p class="center"><a href="javascript:void(0)" id="ca_csv">CSV出力</a></p>
			<div class="clear"></div>
<!--  -->
		</div>
		<!-- /#mainColumnFooter -->



	</div>
	<!-- /#mainColumninBox -->



	</div>
	<!-- /#mainColumn -->



</div><!-- / #container -->

<div class="clear"></div>


</div>
</body>
</html>
