@CHARSET "UTF-8";

.wt480 {
    width : 480px;
}
.mrgl40 {
    margin-left: 40px;
}
.termBox{
    padding : 10px;
}
.three_quarters {
  width: 60%;
}
.wt580 {
    width : 580px;
}
.wt520 {
    width : 520px;
}

.select.wt150 .btn {
  width: 150px;
}