<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=1024, initial-scale=1.0, maximum-scale=1.0" />
    <title>法人販売管理</title>
    <link href="../../../bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../../../bootstrap/css/prettify.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../../../css/jquery-ui-1.10.3.custom.css" />
    <script type="text/javascript" src="../../../../js/jquery.js"></script>
    <script type="text/javascript" src="../../../../js/jquery-ui.custom.js"></script>
    <script type="text/javascript" src="../../../../js/jquery.csv.js"></script>
    <link media="screen" rel="stylesheet" type="text/css" href="../../../css/style.css" />
    <script src="../../../js/function.js"></script>
    <script src="../../../js/jquery.ui.touch-punch.min.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
    <script src="../../../js/bootstrap-select.js"></script>
    <script src="../../../js/bootstrap-switch.js"></script>
    <script src="../../../js/flatui-checkbox.js"></script>
    <script src="../../../js/flatui-radio.js"></script>
    <script src="../../../js/jquery.tagsinput.js"></script>
    <script src="../../../js/jquery.placeholder.js"></script>
    <script src="../../../bootstrap/js/google-code-prettify/prettify.js"></script>
    <script src="../../../js/application.js"></script>
    <script src="../../../js/jquery.skOuterClick.js"></script>
    <script src="../../../js/jquery.tablesorter.js"></script>
    <script src="../../../js/tsort.js"></script>
    <script src="../../../js/perfect-scrollbar.with-mousewheel.min.js"></script>
    <script src="../../../../js/jquery.contextmenu.js"></script>
    <script src="../../../../js/jquery.ui.datepicker.js"></script>
    <script src="../../../../js/jquery.ui.datepicker-ja.min.js"></script>
    <script type="text/javascript" src="../../../../js/jquery.tablefix_1.0.0.js"></script>
    <script type="text/javascript" src="../../../../js/jquery.dragtable.js"></script>
    <script type="text/javascript" src="../../../../js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="../../../../js/jquery.form.js"></script>
    <script type="text/javascript" src="../../../../js/underscore.js"></script>
    <script type="text/javascript" src="../../../../js/backbone.js"></script>
    <script type="text/javascript" src="../../../../js/json2.js"></script>
    <script type="text/javascript" src="../../../../js/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="../../../../js/jquery.exchangeselect.0.1.0.js"></script>
    <script type="text/javascript" src="../../../../js/backbone.syphon.js"></script>
    <script type="text/javascript" src="../../../../js/backbone.syphon.fix.js"></script>
    <script src="../../../js/clcom.js"></script>
    <link rel="stylesheet" href="../../../css/themes/blue/style.css" type="text/css" />
    <link rel="stylesheet" href="../../../css/tsort/style.css" type="text/css" />
    <script src="XXHJV0140.js"></script>
  </head>
  <body class="cl_body_hidden">
    <div id="ca_main">
      <div id="container">
        <div id="mainColumn">
          <div id="mainColumninBox" class="noLeftColumn">
            <div id="content">
              <div class="fieldgroup">
                <div id="cond" class="fieldgroupInBox search">
                  <div class="fieldUnit flleft">
                    <p class="fieldName">法人</p>
                    <div class="fieldBox"></div>
                  </div>
                  <div class="clear"></div>
                  <div class="fieldUnit flleft">
                    <p class="fieldName">案件名</p>
                    <div class="fieldBox">
                      <input type="text" id="" class="form-control cl_valid wt280" />
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="fieldUnit flleft">
                    <p class="fieldName">備考</p>
                    <div class="fieldBox">
                      <input type="text" id="" class="form-control cl_valid wt280" />
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="fieldUnit flleft">
                    <p class="fieldName">契約期間</p>
                    <div class="fieldBox">
                      <div class="datepicker_wrap flleft">
                        <input type="text" id="契約期間from" class="cl_date cl_valid" />
                      </div>
                      <p class="txtInFieldUnit pdg flleft">〜</p>
                      <div class="datepicker_wrap flleft">
                        <input type="text" id="契約期間to" class="cl_date cl_valid" />
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="fieldUnit flleft">
                    <p class="fieldName">受注日</p>
                    <div class="fieldBox">
                      <div class="datepicker_wrap flleft">
                        <input type="text" id="受注日from" class="cl_date cl_valid" />
                      </div>
                      <p class="txtInFieldUnit pdg flleft">〜</p>
                      <div class="datepicker_wrap flleft">
                        <input type="text" id="受注日to" class="cl_date cl_valid" />
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="fieldUnit flleft">
                    <p class="fieldName">希望納期</p>
                    <div class="fieldBox">
                      <div class="datepicker_wrap flleft">
                        <input type="text" id="希望納期from" class="cl_date cl_valid" />
                      </div>
                      <p class="txtInFieldUnit pdg flleft">〜</p>
                      <div class="datepicker_wrap flleft">
                        <input type="text" id="希望納期to" class="cl_date cl_valid" />
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="fieldUnit flleft">
                    <p class="fieldName">受注担当者</p>
                    <div class="fieldBox"></div>
                  </div>
                  <div class="clear"></div>
                  <div class="fieldUnit flleft">
                    <p class="fieldName">売上状況</p>
                    <div class="fieldBox">
                      <ul>
                        <li>
                          <label class="radio"><input type="radio" name="売上状況" value="" data-toggle="radio" checked />未請求</label>
                        </li>
                        <li>
                          <label class="radio"><input type="radio" name="売上状況" value="" data-toggle="radio" />請求済(過去分訂正含む)</label>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="fieldUnit flleft">
                    <p class="fieldName">売上日</p>
                    <div class="fieldBox">
                      <div class="datepicker_wrap flleft">
                        <input type="text" id="売上日from" class="cl_date cl_valid" />
                      </div>
                      <p class="txtInFieldUnit pdg flleft">〜</p>
                      <div class="datepicker_wrap flleft">
                        <input type="text" id="売上日to" class="cl_date cl_valid" />
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="fieldUnit flleft">
                    <p class="fieldName">表示形式</p>
                    <div class="fieldBox">
                      <ul>
                        <li>
                          <label class="radio"><input type="radio" name="表示形式" value="1" data-toggle="radio" checked />売上単位</label>
                        </li>
                        <li>
                          <label class="radio"><input type="radio" name="表示形式" value="2" data-toggle="radio" />メーカー品番単位</label>
                        </li>
                        <li>
                          <label class="radio"><input type="radio" name="表示形式" value="3" data-toggle="radio" />色サイズ単位</label>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="fieldUnit">
                    <div class="fieldBox noName mrgt20">
                      <div class="col-md-5" style="text-align: right">
                        <button id="search" class="btn btn-info wt280">検索</button>
                      </div>
                      <div class="col-md-2"></div>
                      <div class="col-md-5" style="text-align: left">
                        <button class="btn btn-info wt280">Excel出力</button>
                      </div>
                    </div>
                  </div>
                </div>
                <button id="searchAgain" class="btn dispn">検索条件を再指定</button>
              </div>
              <div id="result" class="dispn">
                <div class="pagination-wrapper"></div>
                <div class="table" style="overflow: scroll">
                  <table id="table" class="hilightRow">
                    <thead></thead>
                    <tbody></tbody>
                    <script id="headerTemplate1" type="text/template">
                      <tr>
                        <th class="cl_checkbox_selectall wt40"></th>
                        <th>法人コード</th>
                        <th>法人名</th>
                        <th>案件番号</th>
                        <th>案件名</th>
                        <th>受注番号</th>
                        <th>受注日</th>
                        <th>希望納期</th>
                        <th>受注ステータス</th>
                        <th>売上パターン</th>
                        <th>受注担当者</th>
                        <th>受注数</th>
                        <th>未指示数</th>
                        <th>未売上数</th>
                        <th>受注備考</th>
                        <th>売上</th>
                        <th>請求先コード</th>
                        <th>請求先名</th>
                        <th>売上店コード</th>
                        <th>売上店名</th>
                        <th>売上日</th>
                        <th>請求基準日</th>
                        <th>請求日</th>
                        <th>回収予定日</th>
                        <th>売上数</th>
                      </tr>
                    </script>
                    <script id="rowTemplate1" type="text/template">
                      <tr class="csptr">
                        <td class="cl_checkbox_selectrec"></td>
                        <td><%- ('00000' + index).slice(-5) %></td>
                        <td><%- '法人' + index %></td>
                        <td><%- ('0000000' + index).slice(-7) %></td>
                        <td><%- '案件' + index %></td>
                        <td><%- ('0000000' + index).slice(-7) %></td>
                        <td><%- clutil.dateFormat(clcom.getOpeDate(), 'yyyy/mm/dd') %></td>
                        <td><%- clutil.dateFormat(clcom.getOpeDate(), 'yyyy/mm/dd') %></td>
                        <td><%- '受注済' %></td>
                        <td><%- '法人売／法人請求' %></td>
                        <td><%- '受注担当者' + index %></td>
                        <td style="text-align: right"><%- clutil.comma(10 * index) %></td>
                        <td style="text-align: right"><%- clutil.comma(2 * index) %></td>
                        <td style="text-align: right"><%- clutil.comma(4 * index) %></td>
                        <td><%- '受注備考' + index %></td>
                        <td><%- ('0000000000' + index).slice(-10) %></td>
                        <td><%- ('00' + index).slice(-2) %></td>
                        <td><%- '請求先' + index %></td>
                        <td><%- ('0000' + index).slice(-4) %></td>
                        <td><%- '売上店' + index %></td>
                        <td><%- clutil.dateFormat(clcom.getOpeDate(), 'yyyy/mm/dd') %></td>
                        <td><%- clutil.dateFormat(clcom.getOpeDate(), 'yyyy/mm/dd') %></td>
                        <td><%- clutil.dateFormat(clcom.getOpeDate(), 'yyyy/mm/dd') %></td>
                        <td><%- clutil.dateFormat(clcom.getOpeDate(), 'yyyy/mm/dd') %></td>
                        <td style="text-align: right"><%- clutil.comma(6 * index) %></td>
                      </tr>
                    </script>
                    <script id="headerTemplate2" type="text/template">
                      <tr>
                        <th class="cl_checkbox_selectall wt40"></th>
                        <th>法人コード</th>
                        <th>法人名</th>
                        <th>案件番号</th>
                        <th>案件名</th>
                        <th>受注番号</th>
                        <th>受注日</th>
                        <th>希望納期</th>
                        <th>受注ステータス</th>
                        <th>売上パターン</th>
                        <th>受注担当者</th>
                        <th>受注数</th>
                        <th>未指示数</th>
                        <th>未売上数</th>
                        <th>受注備考</th>
                        <th>売上</th>
                        <th>請求先コード</th>
                        <th>請求先名</th>
                        <th>売上店コード</th>
                        <th>売上店名</th>
                        <th>売上日</th>
                        <th>請求基準日</th>
                        <th>請求日</th>
                        <th>回収予定日</th>
                        <th>売上数</th>
                      </tr>
                    </script>
                    <script id="rowTemplate2" type="text/template">
                      <tr class="csptr">
                        <td class="cl_checkbox_selectrec"></td>
                        <td><%- ('00000' + index).slice(-5) %></td>
                        <td><%- '法人' + index %></td>
                        <td><%- ('0000000' + index).slice(-7) %></td>
                        <td><%- '案件' + index %></td>
                        <td><%- ('0000000' + index).slice(-7) %></td>
                        <td><%- clutil.dateFormat(clcom.getOpeDate(), 'yyyy/mm/dd') %></td>
                        <td><%- clutil.dateFormat(clcom.getOpeDate(), 'yyyy/mm/dd') %></td>
                        <td><%- '受注済' %></td>
                        <td><%- '法人売／法人請求' %></td>
                        <td><%- '受注担当者' + index %></td>
                        <td style="text-align: right"><%- clutil.comma(10 * index) %></td>
                        <td style="text-align: right"><%- clutil.comma(2 * index) %></td>
                        <td style="text-align: right"><%- clutil.comma(4 * index) %></td>
                        <td><%- '受注備考' + index %></td>
                        <td><%- ('0000000000' + index).slice(-10) %></td>
                        <td><%- ('00' + index).slice(-2) %></td>
                        <td><%- '請求先' + index %></td>
                        <td><%- ('0000' + index).slice(-4) %></td>
                        <td><%- '売上店' + index %></td>
                        <td><%- clutil.dateFormat(clcom.getOpeDate(), 'yyyy/mm/dd') %></td>
                        <td><%- clutil.dateFormat(clcom.getOpeDate(), 'yyyy/mm/dd') %></td>
                        <td><%- clutil.dateFormat(clcom.getOpeDate(), 'yyyy/mm/dd') %></td>
                        <td><%- clutil.dateFormat(clcom.getOpeDate(), 'yyyy/mm/dd') %></td>
                        <td style="text-align: right"><%- clutil.comma(6 * index) %></td>
                      </tr>
                    </script>
                    <script id="headerTemplate3" type="text/template">
                      <tr>
                        <th class="cl_checkbox_selectall wt40"></th>
                        <th>法人コード</th>
                        <th>法人名</th>
                        <th>案件番号</th>
                        <th>案件名</th>
                        <th>受注番号</th>
                        <th>受注日</th>
                        <th>希望納期</th>
                        <th>受注ステータス</th>
                        <th>売上パターン</th>
                        <th>受注担当者</th>
                        <th>受注数</th>
                        <th>未指示数</th>
                        <th>未売上数</th>
                        <th>受注備考</th>
                        <th>売上</th>
                        <th>請求先コード</th>
                        <th>請求先名</th>
                        <th>売上店コード</th>
                        <th>売上店名</th>
                        <th>売上日</th>
                        <th>請求基準日</th>
                        <th>請求日</th>
                        <th>回収予定日</th>
                        <th>売上数</th>
                      </tr>
                    </script>
                    <script id="rowTemplate3" type="text/template">
                      <tr class="csptr">
                        <td class="cl_checkbox_selectrec"></td>
                        <td><%- ('00000' + index).slice(-5) %></td>
                        <td><%- '法人' + index %></td>
                        <td><%- ('0000000' + index).slice(-7) %></td>
                        <td><%- '案件' + index %></td>
                        <td><%- ('0000000' + index).slice(-7) %></td>
                        <td><%- clutil.dateFormat(clcom.getOpeDate(), 'yyyy/mm/dd') %></td>
                        <td><%- clutil.dateFormat(clcom.getOpeDate(), 'yyyy/mm/dd') %></td>
                        <td><%- '受注済' %></td>
                        <td><%- '法人売／法人請求' %></td>
                        <td><%- '受注担当者' + index %></td>
                        <td style="text-align: right"><%- clutil.comma(10 * index) %></td>
                        <td style="text-align: right"><%- clutil.comma(2 * index) %></td>
                        <td style="text-align: right"><%- clutil.comma(4 * index) %></td>
                        <td><%- '受注備考' + index %></td>
                        <td><%- ('0000000000' + index).slice(-10) %></td>
                        <td><%- ('00' + index).slice(-2) %></td>
                        <td><%- '請求先' + index %></td>
                        <td><%- ('0000' + index).slice(-4) %></td>
                        <td><%- '売上店' + index %></td>
                        <td><%- clutil.dateFormat(clcom.getOpeDate(), 'yyyy/mm/dd') %></td>
                        <td><%- clutil.dateFormat(clcom.getOpeDate(), 'yyyy/mm/dd') %></td>
                        <td><%- clutil.dateFormat(clcom.getOpeDate(), 'yyyy/mm/dd') %></td>
                        <td><%- clutil.dateFormat(clcom.getOpeDate(), 'yyyy/mm/dd') %></td>
                        <td style="text-align: right"><%- clutil.comma(6 * index) %></td>
                      </tr>
                    </script>
                  </table>
                </div>
                <div class="pagination-wrapper"></div>
                <div class="fieldUnit">
                  <div class="fieldBox noName cl_opebtngroup" data-cl_groupid="XXHJV0140">
                    <button id="cl_edit" class="btn btn-primary flleft wt280">編集</button>
                    <button id="cl_delete" class="btn btn-default delete flright wt140">削除</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
