<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=1024, initial-scale=1.0, maximum-scale=1.0" >
	<title>備品管理</title>

	<!-- Loading Bootstrap -->
	<link href="../../../bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="../../../bootstrap/css/prettify.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="../../../../css/jquery-ui-1.10.3.custom.css" />
	<script type="text/javascript" src="../../../../js/jquery.js"></script>
	<script type="text/javascript" src="../../../../js/jquery-ui.custom.js"></script>
	<script type="text/javascript" src="../../../../js/jquery.csv.js"></script>

	<link media="screen" rel="stylesheet" type="text/css" href="../../../css/style.css">

	<script src="../../../js/function.js"></script>

	<script src="../../../js/jquery.ui.touch-punch.min.js"></script>
	<script src="../../../js/bootstrap.min.js"></script>
	<script src="../../../js/bootstrap-select.js"></script>
	<script src="../../../js/bootstrap-switch.js"></script>
	<script src="../../../js/flatui-checkbox.js"></script>
	<script src="../../../js/flatui-radio.js"></script>
	<script src="../../../js/jquery.tagsinput.js"></script>
	<script src="../../../js/jquery.placeholder.js"></script>
	<script src="../../../bootstrap/js/google-code-prettify/prettify.js"></script>
	<script src="../../../js/application.js"></script>
	<script src="../../../js/jquery.skOuterClick.js"></script>
	<script src="../../../js/jquery.tablesorter.js"></script>
	<script src="../../../js/tsort.js"></script>
	<script src="../../../../js/jquery.contextmenu.js"></script>

	<script src="../../../../js/jquery.ui.datepicker.js"></script>
	<script src="../../../../js/jquery.ui.datepicker-ja.min.js"></script>
	<script type="text/javascript"
			src="../../../../js/jquery.tablefix_1.0.0.js"></script>
	<script type="text/javascript" src="../../../../js/jquery.dragtable.js"></script>
	<script type="text/javascript" src="../../../../js/jquery.blockUI.js"></script>

	<script type="text/javascript" src="../../../../js/underscore.js"></script>
	<script type="text/javascript" src="../../../../js/backbone.js"></script>
	<script type="text/javascript" src="../../../../js/json2.js"></script>
	<script type="text/javascript" src="../../../../js/jquery.tmpl.min.js"></script>
	<script type="text/javascript"
		src="../../../../js/jquery.exchangeselect.0.1.0.js"></script>
	<script type="text/javascript" src="../../../../js/backbone.syphon.js"></script>
	<script type="text/javascript" src="../../../../js/backbone.syphon.fix.js"></script>
	<script src="../../../js/clcom.js"></script>

	<link rel="stylesheet" href="../../../css/themes/blue/style.css" type="text/css">
	<link rel="stylesheet" href="../../../css/tsort/style.css" type="text/css">

</head>

<body class="cl_body_hidden">
<div id="ca_main">

<script src="AMEQV0030.js"></script>

<!-- 共通ヘッダは MDBaseView によって置き換えるので、設置不要。-->
<!-- エコーバックエリアは MDBaseView によって置き換えるので、設置不要。-->
<!-- ダイアログ設定：MDBaseView によって置き換えるので、設置不要。 -->

<div id="container">

	<div id="mainColumn">
	<div id="mainColumninBox" class="noLeftColumn">
		<!-- タイトル部は MDBaseView によって置き換えるので、設置不要。-->

		<div id="content">

			<div class="fieldgroup">
				<div id="ca_srchArea" class="fieldgroupInBox search">

					<div class="fieldUnit mrgb10 half mrgr20" id="div_ca_equipManTypeID">
						<!-- <p class="fieldName">備品管理区分</p> -->
						<div class="fieldBox noName">
							<ul>
							<li><label class="radio"><input type="radio" id="ca_srchEquipAdminTypeID" name="srchEquipAdminTypeID" value="1" data-toggle="radio" checked>備品</label></li>
							<li><label class="radio"><input type="radio" id="ca_srchEquipAdminTypeID" name="srchEquipAdminTypeID" value="2" data-toggle="radio">ノベルティ商品</label></li>
							</ul>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>

					<div class="fieldUnit mrgb10 flleft half mrgr20 required">
						<p class="fieldName">事業ユニット</p>
						<div class="fieldBox" id="div_ca_srchUnitID">
							<select class="mbn wt280 cl_valid cl_required" name="srchUnitID" id="ca_srchUnitID"></select>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>

					<div class="fieldUnit mrgb10 half flleft mrgr20" id="div_ca_equipTypeID">
						<p class="fieldName">備品区分</p>
						<div class="fieldBox">
							<select class="mbn wt280" name="srchEquipTypeID" id="ca_srchEquipTypeID"></select>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>

					<div class="fieldUnit mrgb10 half flleft mrgr20" id="div_ca_equipTypeID_ori">
						<p class="fieldName">備品区分</p>
						<div class="fieldBox">
							<select class="mbn wt280" name="srchEquipTypeID_ori" id="ca_srchEquipTypeID_ori"></select>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>

					<div class="fieldUnit mrgb10 half flleft mrgr20" id="div_ca_srchPremTypeID">
						<p class="fieldName bl2">ノベルティ<br />商品区分</p>
						<div class="fieldBox">
							<select class="mbn wt280" name="srchPremTypeID" id="ca_srchPremTypeID"></select>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>

					<div class="fieldUnit mrgb10 half flleft mrgr20">
						<p class="fieldName">備品コード</p>
						<div class="fieldBox">
							<input type="text" placeholder="" class="form-control wt280" data-validator="maxlen:7 alnum2" name="srchEquipCode" id="ca_srchEquipCode"/>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>

					<div class="fieldUnit mrgb10 half flleft mrgr20">
						<p class="fieldName" id="lblSrchEquipNameE">備品名称</p>
						<p class="fieldName bl2" id="lblSrchEquipNameP">ノベルティ<br />商品名称</p>
						<div class="fieldBox">
							<input type="text" placeholder="" class="form-control wt280" data-validator="maxlen:60 zenkaku" name="srchEquipName" id="ca_srchEquipName"/>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>

					<div class="fieldUnit mrgb10 half flleft mrgr20">
						<p class="fieldName">担当部署</p>
						<div class="fieldBox" id="div_ca_departmentID">
							<select class="mbn wt280" name="srchDepartmentID" id="ca_srchDepartmentID"></select>
						</div>
						<div class="fieldBox" id="div_ca_departmentID_ori">
							<select class="mbn wt280" name="srchDepartmentID_ori" id="ca_srchDepartmentID_ori"></select>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>

					<div class="fieldUnit mrgb10 half flleft mrgr20 required">
						<p class="fieldName">検索日</p>
						<div class="fieldBox">
							<div class="datepicker_wrap">
								<input type="text" class="cl_date cl_valid cl_required ime-disabled" name="srchDate" id="ca_srchDate" />
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="fieldUnit mrgb10 half flleft required">
						<div class="fieldBox noName flleft">
							<label class="checkbox ib" for="check1"><input type="checkbox" value="" name="allHistFlag" id="ca_allHistFlag" data-toggle="checkbox">検索日以降全履歴を表示</label>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>

					<div class="fieldUnit mrgb10 flleft">
						<p class="fieldName"></p>
							<div class="fieldBox">
								<label class="checkbox ib flleft" for="ca_showDelFlag" style="width:150px;"><input type="checkbox" value="" id="ca_showDelFlag" data-toggle="checkbox">削除レコードを表示</label>
								<!-- ツールチップでヘルプを表示 -->
								<p class="txtInFieldUnit flright help" title="削除レコードが背景赤の行で表示されます。"><span>?</span></p>
								<div class="clear"></div>
							</div>
							<div class="clear"></div>
						</div>
					<div class="clear"></div>

					<div class="fieldUnit">
						<div class="fieldBox mrgt20 noName btnCenter">
							<button id="ca_srch" class="btn btn-info wt280">検索</button>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<button id="searchAgain" class="dispn btn">検索条件を再指定</button>
			</div>

			<div id="result" class="dispn">

				<!-- ページネーション＃１：div.pagination-wrapper だけ設置してください -->
				<div class="pagination-wrapper"></div>

				<div class="table">
					<table class="hilightRow" id="ca_table">
					<thead>
						<tr>
							<!-- １番目の要素は全選択チェックボックス用に予約 -->
							<th width="40px" class="cl_checkbox_selectall">☑全選択</th>
							<!-- thのcheckboxで表組内のすべてのチェックをオン／オフ -->
							<th class="cl_equip" width="120px">備品区分</th>
							<th class="cl_prem" width="120px">ノベルティ商品区分</th>
							<th width="120px">備品コード</th>
							<th class="cl_equip" width="120px">備品名称</th>
							<th class="cl_prem" width="120px">ノベルティ商品名称</th>
							<th width="120px">担当部署</th>
							<th width="120px">適用開始日</th>
							<th width="120px">適用終了日</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
					</table>

					<!-- 行テンプレート: underscore.js テンプレートを使用 -->
					<script id="ca_rec_template" type="text/template">
						<tr class="csptr">
							<td class="cl_checkbox_selectrec">☑行選択</td>
							<td class="cl_equip ca_c_link"><%- equipTypeDispName %></td>
							<td class="cl_prem ca_c_link"><%- premTypeDispName %></td>
							<td class="ca_c_link"><%- equipCode %></td>
							<td class="ca_c_link"><%- equipName %></td>
							<td class="ca_c_link"><%- departmentDispName %></td>
							<td class="ca_c_link"><%- clutil.dateFormat(fromDate, 'yyyy/mm/dd(w)') %></td>
							<td class="ca_c_link"><%- clutil.dateFormat(toDate, 'yyyy/mm/dd(w)') %></td>
						</tr>
					</script>

				</div>

				<!-- ページネーション＃２：div.pagination-wrapper だけ設置してください -->
				<div class="pagination-wrapper"></div>

				<div class="fieldUnit">
					<div class="fieldBox mrgt30 mrgb30 noName cl_opebtngroup" data-cl_groupid="AMEQV0030">
						<button class="btn btn-primary wt280 flleft mrgr10" id="cl_edit">編集</button>
						<button class="btn btn-primary wt280 flleft mrgl20" id="cl_copy">複製</button>
						<div class="flright">
							<button class="btn btn-default wt140 mrgl20 delete" id="cl_rsvcancel">予約取消</button>
							<button class="btn btn-default wt140 mrgl20 delete" id="cl_delete">削除</button>
						</div>
					</div>
					<div class="clear"></div>
				</div>

			</div>

		</div><!-- /#content -->

		<div id="mainColumnFooter" class="noLeftColumn x2">
		</div><!-- /#mainColumnFooter -->

	</div><!-- /#mainColumninBox -->

	</div><!-- /#mainColumn -->

</div><!-- / #container -->

<div class="clear"></div>

</div>
</body>
</html>
