#table {
  margin-top: 5px;
  overflow-x: scroll;
  overflow-y: scroll;
}
th {
  z-index: 2;
}
th:first-child {
  background-color: rgba(255, 255, 255, 1);
  left: 0;
  position: sticky;
  z-index: 3;
}
td:first-child {
  background-color: rgba(255, 255, 255, 1);
  left: 0;
  position: sticky;
  z-index: 1;
}
.column0 {
  width: 111.5px;
}
.columnName1 {
  text-align: center;
  font-family: Meiryo;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: rgba(130, 139, 151, 1);

  height: 12px;
}
.columnName2 {
  text-align: center;
  font-family: Meiryo;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(130, 139, 151, 1);

  height: 12px;
}
.itgrp {
  text-align: left;
  font-family: Meiryo;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: rgba(102, 113, 128, 1);
}
.rankButton {
  display: flex;
}
.rankButton:not(.disabled) {
  cursor: pointer;
}
.rankName {
  text-align: left;
  font-family: Meiryo;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(255, 255, 255, 1);

  background-color: rgba(162, 169, 179, 1);
}
.rank {
  text-align: right;
  font-family: Meiryo;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: rgba(50, 58, 69, 1);

  border: rgba(162, 169, 179, 1) solid 1px;
  min-width: 45px;
}
.avgName {
  text-align: center;
  font-family: Meiryo;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(82, 94, 112, 1);

  min-width: max-content;
  padding: 1px;
  padding-left: 5px;
}
.val {
  text-align: right;
  font-family: Microsoft PhagsPa;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: rgba(50, 58, 69, 1);
}
.lyVal {
  text-align: center;
  font-family: Meiryo;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(82, 94, 112, 1);
}
.lydfVal {
  text-align: center;
  font-family: Meiryo;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: rgba(82, 94, 112, 1);
}
.lyrtVal {
  text-align: center;
  font-family: Meiryo;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: rgba(82, 94, 112, 1);
}
.avgVal {
  text-align: right;
  font-family: Meiryo;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(82, 94, 112, 1);
}
.row1 {
  height: 25px;
}
.row2 {
  height: 15px;
}
.row3 {
  border-bottom: rgba(209, 213, 217, 1) solid 2px;
  height: 15px;
}
.green {
  color: rgba(15, 184, 170, 1);
}
.yellow {
  color: rgba(252, 174, 63, 1);
}
.red {
  color: rgba(242, 85, 95, 1);
}
