.header {
  display: flex;
  height: 12px;
  margin-bottom: 8px;
}
.name {
  text-align: left;
  font-family: Meiryo;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: rgba(82, 94, 112, 1);

  padding-top: 1px;
  width: 40px;
}
.rankButton {
  display: flex;
  margin-left: 10px;
}
.rankButton:not(.disabled) {
  cursor: pointer;
}
.rankName {
  text-align: left;
  font-family: Meiryo;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(255, 255, 255, 1);

  background-color: rgba(162, 169, 179, 1);
  padding-top: 2px;
}
.rank {
  text-align: right;
  font-family: Meiryo;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: rgba(50, 58, 69, 1);

  border: solid 1px;
  border-color: rgba(162, 169, 179, 1);
  padding-top: 1px;
  min-width: 45px;
}
.message {
  text-align: left;
  font-family: Meiryo;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: rgba(242, 85, 95, 1);

  padding-left: 5px;
  padding-top: 1px;
}
.column0 {
  min-width: 50.5px;
}
.columnName1 {
  text-align: center;
  font-family: Meiryo;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: rgba(130, 139, 151, 1);
}
.columnName2 {
  text-align: center;
  font-family: Meiryo;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(130, 139, 151, 1);
}
.rowName {
  text-align: left;
  font-family: Meiryo;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: rgba(102, 113, 128, 1);
}
.val {
  text-align: center;
  font-family: Microsoft PhagsPa;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: rgba(50, 58, 69, 1);

  height: 20px;
  padding-top: 2.5px;
}
.green {
  border-bottom: rgba(15, 184, 170, 1) solid 2px;
}
.yellow {
  border-bottom: rgba(252, 174, 63, 1) solid 2px;
}
.red {
  border-bottom: rgba(242, 85, 95, 1) solid 2px;
}
.border {
  border-bottom: rgba(162, 169, 179, 1) solid 1px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#profAm table,
#profAmRt table,
#customerQy table,
#customerUam table,
#sale1Price table,
#custSaleQy table {
  width: auto;
}
