<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=1024, initial-scale=1.0, maximum-scale=1.0" >
	<title>商品マスタ</title>

	<!-- Loading Bootstrap -->
	<link href="../../../bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="../../../bootstrap/css/prettify.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="../../../../css/jquery-ui-1.10.3.custom.css" />
	<script type="text/javascript" src="../../../../js/jquery.js"></script>
	<script type="text/javascript" src="../../../../js/jquery-ui.custom.js"></script>
	<script type="text/javascript" src="../../../../js/jquery.csv.js"></script>

	<link media="screen" rel="stylesheet" type="text/css" href="../../../css/style.css">
	<script src="../../../js/function.js"></script>

	<script src="../../../js/jquery.ui.touch-punch.min.js"></script>
	<script src="../../../js/bootstrap.min.js"></script>
	<script src="../../../js/bootstrap-select.js"></script>
	<script src="../../../js/bootstrap-switch.js"></script>
	<script src="../../../js/flatui-checkbox.js"></script>
	<script src="../../../js/flatui-radio.js"></script>
	<script src="../../../js/jquery.tagsinput.js"></script>
	<script src="../../../js/jquery.placeholder.js"></script>
	<script src="../../../bootstrap/js/google-code-prettify/prettify.js"></script>
	<script src="../../../js/application.js"></script>
	<script src="../../../js/jquery.skOuterClick.js"></script>
	<script src="../../../js/jquery.tablesorter.js"></script>
	<script src="../../../js/tsort.js"></script>
	<script src="../../../../js/jquery.contextmenu.js"></script>

	<script src="../../../../js/jquery.ui.datepicker.js"></script>
	<script src="../../../../js/jquery.ui.datepicker-ja.min.js"></script>
	<script type="text/javascript"
			src="../../../../js/jquery.tablefix_1.0.0.js"></script>
	<script type="text/javascript" src="../../../../js/jquery.dragtable.js"></script>
	<script type="text/javascript" src="../../../../js/jquery.blockUI.js"></script>

	<script type="text/javascript" src="../../../../js/underscore.js"></script>
	<script type="text/javascript" src="../../../../js/backbone.js"></script>
	<script type="text/javascript" src="../../../../js/json2.js"></script>
	<script type="text/javascript" src="../../../../js/jquery.tmpl.min.js"></script>
	<script type="text/javascript"
		src="../../../../js/jquery.exchangeselect.0.1.0.js"></script>
	<script type="text/javascript" src="../../../../js/backbone.syphon.js"></script>
	<script type="text/javascript" src="../../../../js/backbone.syphon.fix.js"></script>
	<script src="../../../js/clcom.js"></script>

	<link rel="stylesheet" href="../../../css/themes/blue/style.css" type="text/css">
	<link rel="stylesheet" href="../../../css/tsort/style.css" type="text/css">

	<link rel="stylesheet" href="AMMSV1090.css" type="text/css">

<script>
</script>


</head>

<body >

<div id="ca_main">

<script src="AMMSV1090.js"></script>

<div id="container">

	<div id="mainColumn">
		<div id="mainColumninBox" class="noLeftColumn">
			<div id="content">

				<div class="fieldgroup">
					<div id="ca_srchArea" class="fieldgroupInBox search">
						<div class="fieldUnit mrgb10 half flleft required">
							<p class="fieldName">事業ユニット</p>
							<div class="fieldBox">
								<select name="info" class="mbn wt280 cl_valid cl_required" id="ca_srchUnitID"></select>
							</div>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>

						<div class="fieldUnit mrgb10 flleft half mrgr20 required">
							<p class="fieldName">品種</p>
							<div class="fieldBox required">
								<input type="text" placeholder="" class="form-control wt280 cl_valid cl_required" id="ca_srchItgrpID"/>
							</div>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>

						<div class="fieldUnit mrgb10 half flleft mrgr20">
							<p class="fieldName">メーカー</p>
							<div class="fieldBox">
								<input type="text" placeholder="" class="form-control wt280 cl_valid" id="ca_srchMakerID"/>
							</div>
							<div class="clear"></div>
						</div>
						<div class="fieldUnit mrgb10 half flleft mrgr20">
							<p class="fieldName">メーカー品番</p>
							<div class="fieldBox">
								<input type="text" placeholder="" class="form-control wt280 cl_valid" data-validator="maxlen:10 hankaku" id="ca_srchMakerItemCode" />
							</div>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>

						<div class="fieldUnit mrgb10 half flleft mrgr20">
							<p class="fieldName">商品展開年</p>
							<div class="fieldBox">
								<select name="info" class="mbn wt280 cl_valid" id="ca_srchYear"></select>
							</div>
							<div class="clear"></div>
						</div>
						<div class="fieldUnit mrgb10 half flleft">
							<p class="fieldName">シーズン</p>
							<div class="fieldBox">
								<select name="info" class="mbn wt280 cl_valid" id="ca_srchSeasonID"></select>
							</div>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>

						<div class="fieldUnit mrgb10 half flleft mrgr20">
							<p class="fieldName">サブクラス1</p>
							<div class="fieldBox">
								<select name="info" class="mbn wt280 cl_valid" id="ca_srchSub1ID"></select>
							</div>
							<div class="clear"></div>
						</div>
						<div class="fieldUnit mrgb10 half flleft">
							<p class="fieldName">サブクラス2</p>
							<div class="fieldBox">
								<select name="info" class="mbn wt280 cl_valid" id="ca_srchSub2ID"></select>
							</div>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>

						<div class="fieldUnit mrgb10 half flleft mrgr20">
							<p class="fieldName">商品名</p>
							<div class="fieldBox">
								<input type="text" placeholder="" class="form-control wt280 cl_valid" data-validator="maxlen:25 zenhan:25,25" id="ca_srchName"/>
							</div>
							<div class="clear"></div>
						</div>
						<div class="fieldUnit mrgb10 half flleft">
							<p class="fieldName">タグ種別</p>
							<div class="fieldBox">
								<select name="info" class="mbn wt280 cl_valid" id="ca_srchTagTypeTypeID"></select>
							</div>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>

						<div class="fieldUnit mrgb10 half flleft mrgr20">
							<p class="fieldName">法人CD</p>
							<div class="fieldBox">
								<input type="text" placeholder="" class="form-control wt280 cl_valid" data-validator="" id=""/>
							</div>
							<div class="clear"></div>
						</div>
						<div class="fieldUnit mrgb10 half flleft mrgr20">
							<p class="fieldName">法人名</p>
							<div class="fieldBox">
								<input type="text" placeholder="" class="form-control wt280 cl_valid" data-validator="" id=""/>
							</div>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
						<div class="fieldUnit mrgb10 half flleft mrgr20">
							<p class="fieldName">カタログNo</p>
							<div class="fieldBox">
								<input type="text" placeholder="" class="form-control wt280 cl_valid" data-validator="" id=""/>
							</div>
							<div class="clear"></div>
						</div>
						<div class="fieldUnit mrgb10 half flleft mrgr20">
							<p class="fieldName">契約番号</p>
							<div class="fieldBox">
								<input type="text" placeholder="" class="form-control wt280 cl_valid" data-validator="" id=""/>
							</div>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>

						<div class="fieldUnit mrgb10 half flleft">
							<p class="fieldName">承認状態</p>
							<div class="fieldBox">
								<select multiple name="info" class="mbn wt280 cl_valid" id="ca_srchItemApproveTypeID"></select>
							</div>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>

						<div class="fieldUnit mrgb10 half flleft mrgr20">
							<p class="fieldName">更新者</p>
							<div class="fieldBox">
								<input type="text" placeholder="" class="form-control wt280 cl_valid" id="ca_srchUpdUserID"/>
							</div>
							<div class="clear"></div>
						</div>
						<div class="fieldUnit mrgb10 flleft">
							<p class="fieldName">更新日</p>
							<div class="fieldBox">
								<div class="datepicker_wrap flleft"><input type="text" class="cl_date cl_valid" id="ca_srchUpdFrom" /></div>
								<p class="txtInFieldUnit pdg flleft">〜</p>
								<div class="datepicker_wrap flleft"><input type="text" class="cl_date cl_valid" id="ca_srchUpdTo" /></div>
							</div>
							<div class="clear"></div>
						</div>

						<div class="clear"></div>
						<hr>
						<div class="fieldUnit flleft mrgr20">
							<p class="fieldName">検索日</p>
							<div class="fieldBox">
								<div class="datepicker_wrap"><input type="text" id="ca_srchDate" class="cl_date cl_valid" /></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="fieldUnit mrgb10 flleft">
							<div class="fieldBox noName flleft">
								<label class="checkbox ib" for="check1"><input type="checkbox" value="" id="ca_allHistFlag" data-toggle="checkbox">検索日以降全履歴を表示</label>
							</div>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
						<div class="fieldUnit mrgb10 flleft">
							<p class="fieldName"></p>
							<div class="fieldBox">
								<label class="checkbox ib flleft" for="ca_showDelFlag" style="width:155px;"><input type="checkbox" value="" id="ca_showDelFlag" data-toggle="checkbox">削除レコードを表示</label>
								<!-- ツールチップでヘルプを表示 -->
								<p class="txtInFieldUnit flright help" title="削除レコードが背景赤の行で表示されます。"><span>?</span></p>
								<div class="clear"></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>

						<div class="fieldUnit">
							<div class="fieldBox mrgt20 noName btnCenter">
								<button id="ca_srch" class="btn btn-info wt280">検索</button>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<button id="searchAgain" class="dispn btn">検索条件を再指定</button>
				</div>


				<div id="result" class="dispn">

					<!-- ページネーション＃１：div.pagination-wrapper だけ設置してください -->
					<div class="pagination-wrapper"></div>

					<div class="table">
						<div class="table_outer">
							<div class="table_inner">
								<table class="hilightRow" id="ca_table">
								<thead id="ca_table_thead">
									<tr>
										<th width="40px" class="cl_checkbox_selectall th_checkbox">☑全選択</th>
										<!-- thのcheckboxで表組内のすべてのチェックをオン／オフ -->
										<th class="th_maker">メーカー</th>
										<th class="th_makerItemCode">メーカー品番</th>
										<th class="th_name">商品名</th>
										<th class="th_subcls">サブクラス1</th>
										<th class="th_subcls">サブクラス2</th>
										<th class="th_year">商品展開年</th>
										<th class="th_season">シーズン</th>
										<th class="th_tagtype">タグ種別</th>
										<th class="th_reapprove">再承認</th>
										<th class="th_approve">承認状態</th>
										<th class="th_date">適用開始日</th>
										<th class="th_date">適用終了日</th>
										<th class="th_user">更新者</th>
										<th class="th_date">更新日</th>
									</tr>
								</thead>
								<tbody id="ca_table_tbody">
									<!-- ca_table_tbody_template -->
								</tbody>
								</table>
							</div> <!-- /.table_inner -->
						</div> <!-- /.table_outer -->
						<!-- 行テンプレート: underscore.js テンプレートを使用 -->
						<script id="ca_rec_template" type="text/template">
							<tr class="csptr" id="<%- id %>">
								<td class="cl_checkbox_selectrec td_checkbox">☑行選択</td>
								<td class="ca_c_link td_maker"><%- makerCode %>:<%- makerName %></td>
								<td class="ca_c_link td_makerItemCode"><%- makerItemCode %></td>
								<td class="ca_c_link td_name"><%- name %></td>
								<td class="ca_c_link"><%- subcls1Name %></td>
								<td class="ca_c_link"><%- subcls2Name %></td>
								<td class="ca_c_link"><%- year %></td>
								<td class="ca_c_link"><%- clutil.gettypename(amcm_type.AMCM_TYPE_SEASON, seasonTypeID, 1) %></td>
								<td class="ca_c_link"><%- clutil.gettypename(amcm_type.AMCM_TYPE_TAG, tagTypeTypeID, 1) %></td>
								<td class="ca_c_link"><%- clutil.gettypename(amcm_type.AMCM_TYPE_ITEM_REAPPROVE, reapproveTypeID, 1) %></td>
								<td class="ca_c_link"><%- clutil.gettypename(amcm_type.AMCM_TYPE_ITEM_APPROVE, itemApproveTypeID, 1) %></td>
								<td class="ca_c_link"><%- clutil.dateFormat(fromDate, 'yyyy/mm/dd(w)') %></td>
								<td class="ca_c_link"><%- clutil.dateFormat(toDate, 'yyyy/mm/dd(w)') %></td>
								<td class="ca_c_link"><%- updUserName %></td>
								<td class="ca_c_link"><%- clutil.dateFormat(updDate, 'yyyy/mm/dd(w)') %></td>
								<td class="dispn"><input type="hidden" name="ca_editableFlag" val="<%- editableFlag %>" />
							</tr>
						</script>
					</div>

					<!-- ページネーション＃２：div.pagination-wrapper だけ設置してください -->
					<div class="pagination-wrapper"></div>

					<div class="fieldUnit">
						<div class="fieldBox mrgt30 mrgb30 noName cl_opebtngroup" data-cl_groupid="AMMSV1090">
							<button class="btn btn-primary wt180 flleft " id="cl_edit">編集</button>
							<button class="btn btn-primary wt180 flleft mrgl20" id="cl_copy">複製</button>
							<button class="btn btn-primary wt180 flleft mrgl20" id="cl_passback">タグ発行一括申請</button>
							<button class="btn btn-primary wt180 flleft mrgl20" id="cl_apply">最終承認一括申請</button>
							<div class="flright">
								<button class="btn btn-default wt140 flleft mrgl20 delete" id="cl_rsvcancel">予約取消</button>
								<button class="btn btn-default wt140 flleft mrgl20 delete" id="cl_delete">削除</button>
							</div>
						</div>
						<div class="clear"></div>
					</div>

				</div>

			</div>
			<!-- /#content -->

			<div id="mainColumnFooter" class="noLeftColumn">
			</div>
			<!-- /#mainColumnFooter -->

		</div>
		<!-- /#mainColumninBox -->

	</div>
	<!-- /#mainColumn -->

</div><!-- / #container -->

<div class="clear"></div>

</div>
</body>
</html>
